.VIpgJd-ZVi9od-ORHb-OEVmcd,
.goog-te-banner-frame {
    display: none !important;
    visibility: hidden !important;
    position: absolute !important;
    top: -500px !important;
    left: -500px !important;
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    overflow: hidden !important;
}

#skiptranslate {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

body.translated-ltr,
body.translated-rtl {
    margin-top: 0px !important;
    padding-top: 0px !important;
    top: 0px !important;
}

#google_translate_element {
    position: fixed;
    top: 0;
    right: 0;
}

#google_translate_element {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 39.5%;
    justify-content: end;
}

#google_translate_element>button {
    background-color: #789;
    color: #fff;
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 40px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        padding: 10px 20px;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.7);
        white-space: nowrap;
    }

    nav>div {
        display: block;
    }

    nav>div>a {
        color: #fff;
        padding: 5px 20px;
        border-radius: 25px;
        font-weight: 500;
        text-decoration: none;
        transition: background-color .25s ease-in-out;
    }

    nav>div>a:hover {
        color: #fff;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .testo-grafico {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .hamburger {
        display: none;
    }

    #menu-toggle {
        display: none;
    }
}

@media (max-width: 1023px) {
    .testo-grafico {
        display: grid;
        grid-template-columns: 100%;
    }

    nav {
        width: fit-content;
        position: fixed;
        top: 40px;
        z-index: 1;
        padding: 10px 20px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.7);
    }

    nav>div {
        width: 100%;
        display: none;
    }

    nav>div>a {
        display: block;
        color: #fff;
        text-align: left;
        border-radius: 25px;
        padding: 14px 20px;
        font-weight: 500;
        text-decoration: none;
        transition: background-color .25s ease-in-out;
    }

    nav>div>a:hover {
        color: #fff;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .hamburger {
        color: #fff;
    }
}
nav > div > a
{
    text-decoration: none;
}

html,
body {
    margin-top: 0 !important;
    padding-top: 0 !important;
    top: 0 !important;
}

.txt1
{
    display: flex;
    align-items: center;
}
canvas
{
    margin: auto;
    width: 100%;
    display: block;
    max-width: 600px;
}
section > div > img
{
    margin: auto;
    display: block;
}
footer
{
    display: grid !important;
    grid-template-columns: 33% 33% 33%;
    background-color: #000;
    padding: 30px;
    color: #bbb;
}
footer > div
{
    padding: 10px;
}
.links-footer
{
    color: #bbb;
}