*
{
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
}

#google_translate_element {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 39.5%;
    justify-content: end;
}
#logoutBtn{
    position: fixed;
    word-wrap: break-word;
    top: 0;
    left: 0;
}
.quiz-card {
    height: 90%;
}
#immagine-container{
    height: 300px;
}
nav>a {
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color .25s ease-in-out;
}

nav>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
}