*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url("/img/strada.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: #789;
}
main
{
    padding: 20px;
    background-image: linear-gradient(#ddd, #ccc, #bbb, #aaa);
}
h1, h2
{
    position: relative;
    bottom: -90px;
}
h1, h3
{
    margin: auto;
    padding: 10px;
    width: fit-content;
    border: 1px solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2
{
    margin: auto;
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.links
{
    color: #000;
}
.contenuti-singoli
{
    margin: 0 auto 20px auto;
    padding: 20px;
    width: 90%;
    box-shadow: -5px 5px 3px;
    border-radius: 25px;
    background-color: #bbb;
}
.contenuti-singoli > div
{
    margin: auto;
    width: fit-content;
}
#menu-toggle
{
    display: none;
}